:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    /* altura del contenedor esto **falla** */
    height: 90vh;
    display:flex;
    /* flex-wrap: wrap; */
    /* Centra el contenido de los div que tenemos dentros del div contenedor (div padre), 
    hay que tener cuidado porque no se pueden poner dos justify-content: ; en la misma etiqueta*/
    justify-content: center;
    /* Crea el espacio entre los div  */
    /* justify-content: space-between; */
    /* Posiciona los div en columnas */
    flex-direction: column;
    /* Alinea todo los div que tiene dentro el contenedor en el cento */
    align-items: center;
}

.imagen{
    /* 
    Para añadir una imagen
    1- definimos altura y ancho (height y width)
    2- añadimos imagen desdeada con background-image: url(../img/google.jpg); 
    */
    height: 10rem;
    width: 20rem;
    background-image: url(../img/google.jpg);
    /* Escalamos la imagen al tamaño que hemos definido en la altura y ancho */
    background-size: contain;
    /* si queremos que no se repita la imagen  en bucle */
    background-repeat: no-repeat;  
}

.texto{
     /* Para que no aparezcan los bordes */
    /* border: none; */

}

input[type="text"]{
    padding: 15px 15px 15px 15px;
    /* Para que no aparezcan los bordes */
    border: none;
    /* Anchura del input */
    width: 30rem;
    /* border: none; */
    /* Atributo que define el ancho de un input con puede ser tanto con size como width */
    size: 100;
    /* Cambia la apariencia del cursor */
    cursor: pointer;
    /* Tamaño que le damos al input del boton para hacerlo mas grande o mas pequeño */
    padding: 0.25rem;
    margin: 1rem;
    /* Para hacer el borde */
    border-radius: 20px;
}

input[type="text"]:focus{
    /* width: 10rem; */
    /* Agrega una sombra al input */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    /* padding: 0.25rem; */
    /* margin: 1rem; */
    /* border-radius: 20px; */
    border: none;
}

.buscador{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
    margin: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="button"]{
    /* cursor: pointer; */
    /* Agrega una sombra al input */
    /* Tamaño que le damos al input del boton para hacerlo mas grande o mas pequeño */
    padding: 0.25rem;
    /* Espacio que le damos al input con respecto a los demas elementos */
    margin: 0.25rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.icono-lupa{
    height: auto;
    width: auto;
    padding: 15px 0px 0px 15px;
}

.icono-micro{
    height: auto;
    width: auto;
    padding: 15px 0px 0px 0px;
}

.icono-camara{
    height: auto;
    width: auto;
    background-size: contain;

}

.botones{
    display: flex;
    /* Creamos el margen sobre el div que estamos trabajando en este caso solo en la clase .botones */
    /* margin: 1rem; */
    /* padding: 1rem; */

}

.boton_buscar{
  
}

.suerte{

}

.idiomas{
    height: auto;
    width: auto;
    /* display: flex; */
    margin: 1rem;
    
}

a{
    padding: 2px;
}